*{
    text-align: center;
    justify-content: center;
  }
  .container{
    background-color:lightgray;
    border: 3px solid black;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
  }
  .container2{
    background-color:crimson;
    border: 3px solid black;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
  }
  .container3{
    background-color:aqua;
    border: 3px solid black;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
  }